<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<System.Windows.Forms.ApplicationConfigurationSection>
		<add key="DpiAwareness" value="PerMonitorV2" />
		<add key="EnableWindowsFormsHighDpiAutoResizing" value="false" />
	</System.Windows.Forms.ApplicationConfigurationSection>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IServiceChat">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IServiceLogin">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8302/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IServiceChat" contract="ServiceChat.IServiceChat"
                name="NetTcpBinding_IServiceChat">
                <identity>
                    <userPrincipalName value="DESKTOP-CJQ8C4A\Egor" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8304/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IServiceLogin" contract="ServiceLogin.IServiceLogin"
                name="NetTcpBinding_IServiceLogin">
                <identity>
                    <userPrincipalName value="DESKTOP-CJQ8C4A\Egor" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>