<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="mexBeh">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
				<behavior name="mexBeh2">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service name="WCF_Service.ServiceChat" behaviorConfiguration="mexBeh">
				<endpoint address="" binding="netTcpBinding" contract="WCF_Service.IServiceChat">
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8301"/>
						<add baseAddress="net.tcp://localhost:8302"/>
					</baseAddresses>
				</host>
			</service>
			<service name="WCF_Service.ServiceLogin" behaviorConfiguration="mexBeh2">
				<endpoint address="" binding="netTcpBinding" contract="WCF_Service.IServiceLogin">
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8303"/>
						<add baseAddress="net.tcp://localhost:8304"/>
					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>
</configuration>